# MongoDB Connection String (Atlas recommended for Vercel)
# Format: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/CourseDB
MONGO_URI=mongodb://localhost:27017/course_recommender

# Secret Key (Keep this secret in production!)
SECRET_KEY=yoursupersecretkeygeneratedhere
